<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubleclick.ahoy_onboarding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ahoyonboarding">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SolidBackgroundExampleActivity"
            android:exported="true" />
        <activity
            android:name=".GradientBackgroundExampleActivity"
            android:exported="true" />
        <activity
            android:name=".ImageBackgroundExampleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>